.main-page__wrapper {
  display: flex;
}

.main-page {
  width: 100%;
}

.main-page__introduction {
  max-width: 1440px;
  width: 650px;
  margin: 0 auto;

  @media(max-width: $tablet-width) {
    min-width: 260px;
  }
}

.main-page__block {
  max-width: 1440px;
  width: 650px;
  margin: 0 auto;

  @media(max-width: $tablet-width) {
    min-width: 260px;
  }
}
