.main-page__wrapper {
  display: flex;
}

.main-page {
  width: 100%;
}

.main-page__introduction {
  max-width: 1440px;
  width: 650px;
  margin: 0 auto;
}

.main-page__block {
  max-width: 1440px;
  width: 650px;
  margin: 0 auto;
}
