.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: $primary-font;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
}
