h1 {
  margin: 0;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 38px;
  color: #484455;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

h2 {
  margin: 0;
  font-family: $secondary-font;
  font-weight: 500;
  font-size: 28px;
  line-height: 30px;
  color: #9390A1;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

h3 {
  font-family: $secondary-font;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #484455;
}

button {
  font-family: $secondary-font;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
