$main-light-color: #ebebeb;
$main-dark-color: #676376;
$main-accent-color: #f9b090;

$white: #ffffff;
$light-grey: #9390A1;
$dark-violet: #484455;

$success-color: #AEE3B6;
$fail-color: #F9B090;


$tablet-width: 768px;
$mobile-width: 320px;

$primary-font: "Nunito", Arial, sans-serif;
$secondary-font: "Jura", Arial, sans-serif;
