.input {
  box-sizing: border-box;
  width: 100%;
  height: 35px;
  min-height: 35px;
  border-radius: 5px;
  border: none;
  outline: 2px solid rgba($color: #666178, $alpha: 0.5);
  padding: 0 30px;

  &--error-message {
    outline: 2px solid #FFCAB3;
  }

  &:active.input--error-message,
  &:focus.input--error-message {
    outline: 2px solid #FFCAB3;
  }

  @media (max-width: 1440px) {
    width: 100%;
  }

  @media (max-width: 768px) {
    width: 100%;
    min-height: 50px;
    padding: 0 10px;
  }
}
